---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Apr 2025 - Jun 2025",
    title: "Frontend Developer with NextJS",
    company: "BrandingCat",
    description:
      "Helping to fix bugs and implement new features for the website and mobile app with NextJS and Expo.",
    link: "https://brandingcat.com/",
  },
  {
    date: "Jun 2023 - May 2024",
    title: "Frontend Developer",
    company: "BoxNCase",
    description:
      "Redesigned the new UX on home, added new features with filter of products, optimized performance.",
    link: 'https://www.boxncase.com/'
  },
  {
    date: "Dec 2022 - Mar 2023",
    title: 'PHP Frontend Developer / React Developer',
    company: 'Bitterroot Valley Marketing',
    description: 'Designed from scratch websites for the WordPress CMS and SPA with React.'
  },
  {
    date: "Feb 2019 - Jan 2021",
    title: 'WordPress Developer',
    company: 'Volume99',
    description: 'Designed from scratch the website of the marketing agency on WordPress, optimizing it for SEO.',
    link: 'https://web.archive.org/web/20240415014826/https://volume99.com/'
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
